.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}


.grid-item {
    flex-direction: row;
    background-color: #dcd6f7;
    color: #393e46;
    margin: 15px;
    font-size: 15px;
    line-height: 1.4;
    display: inline-block;
    position: relative;
    border-radius: 25px;
    border: 2px solid #A6B1E1;
    height: 600;
    width: 600;
}
